@font-face {
    font-family: 'inter';
    src: url(../fonts/Inter_18pt-Regular.ttf);
}

@font-face {
    font-family: 'inter_light';
    src: url(../fonts/Inter_18pt-Light.ttf);
}

* {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
    font-family: 'inter';
}

body {
    width: 100%;
    height: auto;
    overflow-x: hidden;
    position: absolute;
    background-size: cover;
    position: absolute;
    margin-left: 1vw;
}

.topBar {
    margin-left: -1vw;
    width: 100%;
    height: 4vw;
    display: flex;
    flex-direction: row;
    border-bottom: 0.1vw solid black;
    justify-content: space-between;
    position: fixed;
    font-family: 'inter';
    font-size: 1.1vw;
    padding-left: 3vw;
    padding-right: 3vw;
    padding-top: 1vw;
    padding-bottom: 1vw;
    background-color: white;
}

.añadir {
    gap: 0.6vw;
    display: inline-block;
    flex-direction: row;
    align-items: center;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.eliminar {
    gap: 0.6vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    text-decoration: underline orangered 0.2vw;
    text-underline-offset: 0.4vw;
}

.reportar {
    gap: 0.6vw;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.ayuda {
    gap: 0.6vw;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.añadir .enlace{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5vw;
    text-decoration: none;
    color: inherit;
}
.reportar .enlace{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5vw;
    text-decoration: none;
    color: inherit;
}

.refrescar .enlace{
    gap: 0.6vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    text-decoration: none;
    color: inherit;
}
.eliminar .enlace{
    gap: 0.6vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    text-decoration: none;
    color: inherit;
}

.reportar .enlace{
    gap: 0.6vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    text-decoration: none;
    color: inherit;
}

.ayuda .enlace{
    gap: 0.6vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    text-decoration: none;
}

.PNS {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1vw;
}

.add {
    width: 1.5vw;
    height: 1.5vw;
}

.reload {
    width: 1.5vw;
    height: 1.5vw;
}

.delete {
    width: 1.25vw;
    height: 1.5vw;
}

.iconito {
    width: 2.5vw;
    height: 2vw;
}

.report {
    width: 1.6vw;
    height: 1.5vw;
}

.help {
    width: 1.5vw;
    height: 1.5vw;
}

.settings {
    width: 1.3vw;
    height: 1.3vw;
}

.noti {
    width: 1.4vw;
    height: 1.3vw;
}

.profile {
    width: 3vw;
    height: 3vw;
}


.text1 {
    font-family: 'inter';
    font-size: 2.5vw;
    text-align: center;
    margin-top: 6vw;
}

.text2 {
    text-align: center;
    font-family: 'inter_light';
    font-size: 1vw;
    margin-top: 0.5vw;
}

.gridp {
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    gap: 1vw;
    margin-left: 2vw;
    margin-right: 8vw;
}

.grupo1 {
    margin-top: 2vw;
    width: 100%;
    height: 1vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: fixed;
    font-family: 'inter';
    font-size: 1vw;
    padding-left: 3vw;
    padding-right: 3vw;
    padding-top: 1vw;
    padding-bottom: 1vw;
    position: relative;
}

.cabeza {
    font-size: 1vw;
    text-align: center;
}


.grupo2 {
    text-align: center;
    align-items: center;
    font-family: 'inter';
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    border: 0.1vw solid black;
    width: 95vw;
    border-radius: 8vw;
    margin-top: 2vw;
}

.ham1 {
    margin-left: 96vw;
    margin-top: -2.7vw;
}

.ham {
    height: 2vw;
}

.grupo3 {
    text-align: center;
    align-items: center;
    font-family: 'inter';
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    border: 0.1vw solid black;
    width: 95vw;
    border-radius: 8vw;
    margin-top: 2vw;
}

.grupo4 {
    text-align: center;
    align-items: center;
    font-family: 'inter';
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    border: 0.1vw solid black;
    width: 95vw;
    border-radius: 8vw;
    margin-top: 2vw;
}

.grupo5 {
    text-align: center;
    align-items: center;
    font-family: 'inter';
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    border: 0.1vw solid black;
    width: 95vw;
    border-radius: 8vw;
    margin-top: 2vw;
}

.grupo6 {
    text-align: center;
    align-items: center;
    font-family: 'inter';
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    border: 0.1vw solid black;
    width: 95vw;
    border-radius: 8vw;
    margin-top: 2vw;
}

.orangeButton {
    text-align: center;
    width: 15vw;
    height: 3vw;
    background-color: #FF6C2C;
    border-radius: 2vw;
    margin-top: 2vw;
    margin-left: 42vw;
    color: white;
    outline: none;
    border: none;
    cursor: pointer;
    margin-bottom: 2vw;
}

.text3 {
    font-family: 'inter';
    font-size: 1.5vw;
}

.porcentaje {
    height: 3vw;
}
/* pc*/
@media screen and (min-width: 1920px) and (min-height: 1080px) {
    .topBar {
        width: 100%;
        height: 4vw;
        display: flex;
        flex-direction: row;
        border-bottom: 0.1vw solid black;
        justify-content: space-between;
        position: fixed;
        font-family: 'inter';
        font-size: 1.1vw;
        padding-left: 3vw;
        padding-right: 3vw;
        padding-top: 1vw;
        padding-bottom: 1vw;
        background-color: white;
    }

    .añadir {
        gap: 0.6vw;
        display: inline-block;
        flex-direction: row;
        align-items: center;
        text-decoration: none;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .eliminar {
        gap: 0.6vw;
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .reportar {
        gap: 0.6vw;
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .ayuda {
        gap: 0.6vw;
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .añadir .enlace {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 0.5vw;
        text-decoration: none;
        color: inherit;
    }

    .reportar .enlace {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 0.5vw;
        text-decoration: none;
        color: inherit;
    }

    .refrescar .enlace {
        gap: 0.6vw;
        display: flex;
        flex-direction: row;
        align-items: center;
        text-decoration: none;
        color: inherit;
    }

    .eliminar .enlace {
        gap: 0.6vw;
        display: flex;
        flex-direction: row;
        align-items: center;
        text-decoration: none;
        color: inherit;
    }

    .reportar .enlace {
        gap: 0.6vw;
        display: flex;
        flex-direction: row;
        align-items: center;
        text-decoration: none;
        color: inherit;
    }

    .ayuda .enlace {
        gap: 0.6vw;
        display: flex;
        flex-direction: row;
        align-items: center;
        text-decoration: none;
    }

    .PNS {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 1vw;
    }

    .add {
        width: 1.5vw;
        height: 1.5vw;
    }

    .reload {
        width: 1.5vw;
        height: 1.5vw;
    }

    .delete {
        width: 1.25vw;
        height: 1.5vw;
    }

    .iconito {
        width: 2.5vw;
        height: 2vw;
    }

    .report {
        width: 1.6vw;
        height: 1.5vw;
    }

    .help {
        width: 1.5vw;
        height: 1.5vw;
    }

    .settings {
        width: 1.3vw;
        height: 1.3vw;
    }

    .noti {
        width: 1.4vw;
        height: 1.3vw;
    }

    .profile {
        width: 3vw;
        height: 3vw;
    }

    .text1 {
        font-family: 'inter';
        font-size: 2.5vw;
        text-align: center;
        margin-top: 6vw;
    }

    .text2 {
        text-align: center;
        font-family: 'inter_light';
        font-size: 1vw;
        margin-top: 0.5vw;
    }

    .gridp {
        display: grid;
        grid-template-columns: repeat(9, 1fr);
        gap: 1vw;
        margin-left: 2vw;
        margin-right: 8vw;
    }

    .grupo1 {
        margin-top: 2vw;
        width: 100%;
        height: 1vw;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        position: fixed;
        font-family: 'inter';
        font-size: 1vw;
        padding-left: 3vw;
        padding-right: 3vw;
        padding-top: 1vw;
        padding-bottom: 1vw;
        position: relative;
    }

    .cabeza {
        font-size: 1vw;
        text-align: center;
    }

    .grupo2, .grupo3, .grupo4, .grupo5, .grupo6 {
        text-align: center;
        align-items: center;
        font-family: 'inter';
        display: grid;
        grid-template-columns: repeat(9, 1fr);
        border: 0.1vw solid black;
        width: 95vw;
        border-radius: 8vw;
        margin-top: 2vw;
    }

    .ham1 {
        margin-left: 96vw;
        margin-top: -2.7vw;
    }

    .ham {
        height: 2vw;
    }

    .orangeButton {
        text-align: center;
        width: 15vw;
        height: 3vw;
        background-color: #FF6C2C;
        border-radius: 2vw;
        margin-top: 2vw;
        margin-left: 42vw;
        color: white;
        outline: none;
        border: none;
        cursor: pointer;
        margin-bottom: 2vw;
    }

    .text3 {
        font-family: 'inter';
        font-size: 1.5vw;
    }

    .porcentaje {
        height: 3vw;
    }
}

/* celular */
@media screen and (max-width: 430px) and (max-height: 936px) {
    body {
        margin-left: 2vw;
    }

    .topBar {
        width: 100%;
        height: 12vw;
        display: flex;
        flex-direction: row;
        border-bottom: 0.3vw solid black;
        justify-content: space-between;
        position: fixed;
        font-family: 'inter';
        font-size: 3.5vw;
        padding-left: 4vw;
        padding-right: 4vw;
        padding-top: 2vw;
        padding-bottom: 2vw;
        background-color: white;
    }

    .añadir {
        gap: 2vw;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .eliminar {
        gap: 2vw;
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .reportar {
        gap: 2vw;
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .ayuda {
        gap: 2vw;
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .añadir .enlace {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 1.5vw;
        text-decoration: none;
        color: inherit;
    }

    .reportar .enlace {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 1.5vw;
        text-decoration: none;
        color: inherit;
    }

    .refrescar .enlace {
        gap: 2vw;
        display: flex;
        flex-direction: row;
        align-items: center;
        text-decoration: none;
        color: inherit;
    }

    .eliminar .enlace {
        gap: 2vw;
        display: flex;
        flex-direction: row;
        align-items: center;
        text-decoration: none;
        color: inherit;
    }

    .ayuda .enlace {
        gap: 2vw;
        display: flex;
        flex-direction: row;
        align-items: center;
        text-decoration: none;
    }

    .PNS {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 3vw;
    }

    .add {
        width: 5vw;
        height: 5vw;
    }

    .reload {
        width: 5vw;
        height: 5vw;
    }

    .delete {
        width: 4.5vw;
        height: 5vw;
    }

    .iconito {
        width: 8vw;
        height: 6vw;
    }

    .report {
        width: 5.5vw;
        height: 5vw;
    }

    .help {
        width: 5vw;
        height: 5vw;
    }

    .settings {
        width: 4.5vw;
        height: 4.5vw;
    }

    .noti {
        width: 4.8vw;
        height: 4.5vw;
    }

    .profile {
        width: 9vw;
        height: 9vw;
    }

    .text1 {
        font-family: 'inter';
        font-size: 8vw;
        text-align: center;
        margin-top: 18vw;
    }

    .text2 {
        text-align: center;
        font-family: 'inter_light';
        font-size: 3.5vw;
        margin-top: 1.5vw;
    }

    .gridp {
        display: grid;
        grid-template-columns: repeat(9, 1fr);
        gap: 3vw;
        margin-left: 4vw;
        margin-right: 4vw;
    }

    .grupo1 {
        margin-top: 6vw;
        width: 100%;
        height: 3vw;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        position: relative;
        font-family: 'inter';
        font-size: 3.5vw;
        padding-left: 4vw;
        padding-right: 4vw;
        padding-top: 2vw;
        padding-bottom: 2vw;
    }

    .cabeza {
        font-size: 3.5vw;
        text-align: center;
    }

    .grupo2, .grupo3, .grupo4, .grupo5, .grupo6 {
        text-align: center;
        align-items: center;
        font-family: 'inter';
        display: grid;
        grid-template-columns: repeat(9, 1fr);
        border: 0.3vw solid black;
        width: 92vw;
        border-radius: 6vw;
        margin-top: 4vw;
        padding: 2vw;
    }

    .ham1 {
        margin-left: 88vw;
        margin-top: -8vw;
    }

    .ham {
        height: 6vw;
    }

    .orangeButton {
        text-align: center;
        width: 40vw;
        height: 10vw;
        background-color: #FF6C2C;
        border-radius: 5vw;
        margin-top: 6vw;
        margin-left: 26vw;
        color: white;
        outline: none;
        border: none;
        cursor: pointer;
        margin-bottom: 6vw;
    }

    .text3 {
        font-family: 'inter';
        font-size: 4.5vw;
    }

    .porcentaje {
        height: 8vw;
    }
}