@font-face {
    font-family: 'inter';
    src: url(../fonts/myriadPro_Regular.OTF);
}

@font-face {
    font-family: 'inter_light';
    src: url(../fonts/Inter_18pt-Light.ttf);
}

* {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}

body {
    width: 100%;
    height: auto;
    overflow-x: hidden;
    position: absolute;
    background-size: cover;
    position: absolute;
}

.topBar {
    width: 100%;
    height: 4vw;
    display: flex;
    flex-direction: row;
    border-bottom: 0.1vw solid black;
    justify-content: space-between;
    position: fixed;
    font-family: 'inter';
    font-size: 1.1vw;
    padding-left: 3vw;
    padding-right: 3vw;
    padding-top: 1vw;
    padding-bottom: 1vw;
}

.añadir {
    gap: 0.6vw;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.refrescar {
    gap: 0.6vw;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.icon {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.eliminar {
    gap: 0.6vw;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.reportar {
    gap: 0.6vw;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.ayuda {
    gap: 0.6vw;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.PNS {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1vw;
}

.add {
    width: 1.5vw;
    height: 1.5vw;
}

.reload {
    width: 1.5vw;
    height: 1.5vw;
}

.delete {
    width: 1.25vw;
    height: 1.5vw;
}

.iconito {
    width: 2.5vw;
    height: 2vw;
}

.report {
    width: 1.6vw;
    height: 1.5vw;
}

.help {
    width: 1.5vw;
    height: 1.5vw;
}

.settings {
    width: 1.3vw;
    height: 1.3vw;
}

.noti {
    width: 1.4vw;
    height: 1.3vw;
}

.profile {
    width: 3vw;
    height: 3vw;
}

.text1 {
    margin-top: 5vw;
    font-family: 'inter';
    font-size: 2.5vw;
    text-align: center;
    margin-left: -2vw;
}

.text2 {
    margin-top: 0.1vw;
    text-align: center;
    font-family: 'inter_light';
    font-size: 1vw;
}

.grupo1 {
    display: flex;
    width: 90vw;
    margin-top: 2vw;
    font-family: 'inter';
    justify-content: space-between;
    margin-left: 4vw;
}

.grupo2 {
    width: 92vw;
    border: 0.1vw black solid;
    display: flex;
    margin-left: 2vw;
    border-radius: 2vw;
    padding-top: 1.5vw;
    font-family: 'inter';
    padding-left: 1vw;
    padding-right: 1vw;
    margin-top: 0.5vw;
}

.imgP1 {
    height: 3.5vw;
    margin-top: -1vw;
}

.cabeza1_1 {
    font-size: 1.2vw;
}

.cabeza1_2 {
    margin-left: 1vw;
    font-size: 1.2vw;
}

.cabeza1_3 {
    font-size: 1.2vw;
    margin-left: 1vw;
}

.cabeza1_4 {
    margin-left: 1vw;
    font-size: 1.2vw;
}

.cabeza1_5 {
    font-size: 1.2vw;
    margin-left: 1vw;
}

.cabeza1_6 {
    margin-left: 1vw;
    font-size: 1.2vw;
}

.cabeza1_7 {
    font-size: 1.2vw;
    margin-left: 1vw;
}

.cabeza1_8 {
    font-size: 1.2vw;
    margin-left: 1vw;
}

.cabeza1_9 {
    margin-left: 1vw;
    font-size: 1.2vw;
}


.grupo3 {
    width: 92vw;
    border: 0.1vw black solid;
    display: flex;
    margin-left: 2vw;
    border-radius: 2vw;
    padding-top: 1.5vw;
    font-family: 'inter';
    padding-left: 1vw;
    padding-right: 1vw;
    margin-top: 1vw;
}

.imgP2 {
    height: 3.5vw;
    margin-top: -1vw;
}

.grupo4 {
    width: 92vw;
    border: 0.1vw black solid;
    display: flex;
    margin-left: 2vw;
    border-radius: 2vw;
    padding-top: 1.5vw;
    font-family: 'inter';
    padding-left: 1vw;
    padding-right: 1vw;
    margin-top: 1vw;
}

.imgP3 {
    height: 3.5vw;
    margin-top: -1vw;
}

.grupo5 {
    width: 92vw;
    border: 0.1vw black solid;
    display: flex;
    margin-left: 2vw;
    border-radius: 2vw;
    padding-top: 1.5vw;
    font-family: 'inter';
    padding-left: 1vw;
    padding-right: 1vw;
    margin-top: 1vw;
}

.imgP4 {
    height: 3.5vw;
    margin-top: -1vw;
}

.grupo6 {
    width: 92vw;
    border: 0.1vw black solid;
    display: flex;
    margin-left: 2vw;
    border-radius: 2vw;
    padding-top: 1.5vw;
    font-family: 'inter';
    padding-left: 1vw;
    padding-right: 1vw;
    margin-top: 1vw;
}

.imgP5 {
    height: 3.5vw;
    margin-top: -1vw;
}

.orangeButton {
    text-align: center;
    width: 15vw;
    height: 3vw;
    background-color: #FF6C2C;
    border-radius: 2vw;
    margin-top: 2vw;
    margin-left: 42vw;
    color: white;
    outline: none;
    border: none;
    cursor: pointer;
}

.text3 {
    font-family: 'inter';
    font-size: 1.5vw;
}