* {
    margin: 0;
}

body {
    background-color: white;
    width: 100%;
    height: auto;
    overflow-x: hidden;
    position: absolute;
}

.topBar {
    position: fixed;
    width: 100%;
    background-color: white;
    
}