@font-face {
    font-family: 'inter';
    src: url(../fonts/myriadPro_Regular.OTF);
}

*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}

body{
    width: 100%;
    height: auto;
    overflow-x: hidden;
    position: absolute;
    background-size: cover;
    position: absolute;
}

.topBar {
    width: 100%;
    height: 4vw;
    display: flex;
    flex-direction: row;
    border-bottom: 0.1vw solid black;
    justify-content: space-between;
    position: fixed;
    font-family: 'inter';
    font-size: 1.1vw;
    padding-left: 3vw;
    padding-right: 3vw;
    padding-top: 1vw;
    padding-bottom: 1vw;
}

.añadir {
    gap: 0.6vw;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.refrescar {
    gap: 0.6vw;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.icon {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.eliminar {
    gap: 0.6vw;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.reportar {
    gap: 0.6vw;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.ayuda {
    gap: 0.6vw;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.PNS {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1vw;
}

.add {
    width: 1.5vw;
    height: 1.5vw;
}

.reload {
    width: 1.5vw;
    height: 1.5vw;
}

.delete {
    width: 1.25vw;
    height: 1.5vw;
}

.iconito {
    width: 2.5vw;
    height: 2vw;
}

.report {
    width: 1.6vw;
    height: 1.5vw;
}

.help {
    width: 1.5vw;
    height: 1.5vw;
}

.settings {
    width: 1.3vw;
    height: 1.3vw;
}

.noti {
    width: 1.4vw;
    height: 1.3vw;
}

.profile {
    width: 3vw;
    height: 3vw;
}


.text1{
    font-family: 'inter';
    font-size: 2.5vw;
    text-align: center;
    margin-top: 6vw;
}

.text2{
    text-align: center;
    font-family: 'inter';
    font-size: 1vw;
    margin-top: 0.5vw;
}

.gridp{
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto auto auto auto;
    width: 100%;
    align-items: center;
    place-content: center;
    font-size: 1vw;
}

.grupo1{
    width: 100%;
    height: 1vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: fixed;
    font-family: 'inter';
    font-size: 1vw;
    padding-left: 3vw;
    padding-right: 3vw;
    padding-top: 1vw;
    padding-bottom: 1vw;
}

.grupo2{
    width: 100%;
    height: 1vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: fixed;
    font-family: 'inter';
    font-size: 1vw;
    padding-left: 3vw;
    padding-right: 3vw;
    padding-top: 14vw;
    padding-bottom: 7vw;   
}


.grupo3{
    width: 100%;
    height: 1vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: fixed;
    font-family: 'inter';
    font-size: 1vw;
    padding-left: 3vw;
    padding-right: 3vw;
    padding-top: 23vw;
    padding-bottom: 7vw;   
}

.grupo4{
    width: 100%;
    height: 1vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: fixed;
    font-family: 'inter';
    font-size: 1vw;
    padding-left: 3vw;
    padding-right: 3vw;
    padding-top: 32vw;
    padding-bottom: 7vw;  
}

.grupo5{
    width: 100%;
    height: 1vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: fixed;
    font-family: 'inter';
    font-size: 1vw;
    padding-left: 3vw;
    padding-right: 3vw;
    padding-top: 42vw;
    padding-bottom: 7vw;     
}

.grupo6{
    width: 100%;
    height: 1vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: fixed;
    font-family: 'inter';
    font-size: 1vw;
    padding-left: 3vw;
    padding-right: 3vw;
    padding-top: 50vw;
    padding-bottom: 7vw;
}

.grupo7{
    width: 100%;
    height: 1vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: fixed;
    font-family: 'inter';
    font-size: 1vw;
    padding-left: 3vw;
    padding-right: 3vw;
    padding-top: 59vw;
    padding-bottom: 7vw;   
}