@font-face {
    font-family: 'inter';
    src: url(../fonts/Inter_18pt-Regular.ttf);
}

@font-face {
    font-family: 'inter_light';
    src: url(../fonts/Inter_18pt-Light.ttf);
}

* {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
    text-decoration: none;
    color: black;
    font-family: 'inter';
}

body {
    width: 100%;
    height: auto;
    overflow-x: hidden;
    position: absolute;
    background-size: cover;
    position: absolute;
}

.topBar {
    width: 100%;
    height: 4vw;
    display: flex;
    flex-direction: row;
    border-bottom: 0.1vw solid black;
    justify-content: space-between;
    position: fixed;
    font-family: 'inter';
    font-size: 1.1vw;
    padding-left: 3vw;
    padding-right: 3vw;
    padding-top: 1vw;
    padding-bottom: 1vw;
}

.añadir {
    gap: 0.6vw;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.refrescar {
    gap: 0.6vw;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.icon {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.eliminar {
    gap: 0.6vw;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.reportar {
    gap: 0.6vw;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.ayuda {
    gap: 0.6vw;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.PNS {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1vw;
}

.add {
    width: 1.5vw;
    height: 1.5vw;
}

.reload {
    width: 1.5vw;
    height: 1.5vw;
}

.delete {
    width: 1.25vw;
    height: 1.5vw;
}

.iconito {
    width: 2.5vw;
    height: 2vw;
}

.report {
    width: 1.6vw;
    height: 1.5vw;
}

.help {
    width: 1.5vw;
    height: 1.5vw;
}

.settings {
    width: 1.3vw;
    height: 1.3vw;
}

.noti {
    width: 1.4vw;
    height: 1.3vw;
}

.frame {
    width: 46vw;
    height: 25vw;
    border: solid 0.1vw #F6E1D4;
    position: absolute;
    margin-top: 7vw;
    margin-left: 27vw;
    border-radius: 2vw;
    background-color: #F6E1D4;
    text-align: center;
}

.profile {
    width: 6vw;
    height: 6vw;
    margin-top: 3vw;
}

.text1 {
    text-align: center;
    font-family: 'inter';
    font-size: 3vw;
    margin-top: 2vw;
}

.text2 {
    font-family: 'inter_light';
    font-size: 1vw;
}

.orangeButton {
    text-align: center;
    width: 16vw;
    height: 3vw;
    background-color: #FF6C2C;
    border-radius: 2vw;
    border: none;
    cursor: pointer;
    margin-top: 3vw;
}

.orangeButton:hover {
    width: 16.1vw;
    height: 3,1vw;
}

.text3 {
    font-family: 'inter';
    color: white;
    font-size: 1.4vw;
}