@font-face {
    font-family: 'inter';
    src: url(../fonts/Inter_18pt-Regular.ttf);
}

* {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}

body {
    width: 100%;
    height: auto;
    overflow-x: hidden;
    position: absolute;
    background-size: cover;
    position: absolute;
}

.topBar {
    width: 100%;
    height: 4vw;
    display: flex;
    flex-direction: row;
    border-bottom: 0.1vw solid black;
    justify-content: space-between;
    position: fixed;
    font-family: 'inter';
    font-size: 1.1vw;
    padding-left: 3vw;
    padding-right: 3vw;
    padding-top: 1vw;
    padding-bottom: 1vw;
}

.añadir {
    gap: 0.6vw;
    display: inline-block;
    flex-direction: row;
    align-items: center;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.añadir .enlace{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5vw;
    text-decoration: none;
    color: inherit;
}
.reportar .enlace{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5vw;
    text-decoration: none;
    color: inherit;
}


.refrescar .enlace{
    gap: 0.6vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    text-decoration: none;
    color: inherit;
}
.eliminar .enlace{
    gap: 0.6vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    text-decoration: none;
    color: inherit;
}

.reportar .enlace{
    gap: 0.6vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    text-decoration: none;
    color: inherit;
}
.ayuda .enlace{
    gap: 0.6vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    text-decoration: none;
    color: inherit;
}

.icon {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.eliminar {
    gap: 0.6vw;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.reportar {
    gap: 0.6vw;
    text-decoration: underline orangered 0.2vw;
    text-underline-offset: 0.4vw;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.ayuda {
    gap: 0.6vw;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.PNS {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1vw;
}

.add {
    width: 1.5vw;
    height: 1.5vw;
}

.reload {
    width: 1.5vw;
    height: 1.5vw;
}

.delete {
    width: 1.25vw;
    height: 1.5vw;
}

.iconito {
    width: 2.5vw;
    height: 2vw;
}

.report {
    width: 1.6vw;
    height: 1.5vw;
}

.help {
    width: 1.5vw;
    height: 1.5vw;
}

.settings {
    width: 1.3vw;
    height: 1.3vw;
}

.noti {
    width: 1.4vw;
    height: 1.3vw;
}

.profile {
    width: 3vw;
    height: 3vw;
}

.text1 {
    font-family: 'inter';
    font-size: 2.5vw;
    text-align: center;
    margin-top: 6vw;
}

.text2 {
    text-align: center;
    font-family: 'inter';
    font-size: 1vw;
    margin-top: 0.5vw;
}

.cuadro {
    margin-top: 2vw;
    background-color: white;
    position: absolute;
    border-radius: 1vw;
    width: 46vw;
    height: 25vw;
    left: 26vw;
    border: 0.1vw solid black;
    padding-left: 1vw;
    padding-top: 1vw;
    resize: none;
    font-family: 'inter';
    font-size: 1.1vw;
}

.cuadro:focus {
    border-width: 0.1vw;
    outline: none;
}

.orangeButton {
    text-align: center;
    width: 16vw;
    height: 3vw;
    background-color: #FF6C2C;
    border-radius: 2vw;
    margin-top: 28vw;
    margin-left: 42vw;
    border: none;
    cursor: pointer;
}

.orangeButton:hover {
    width: 16.1vw;
    height: 3,1vw;
}

.text3 {
    font-family: 'inter';
    color: white;
    font-size: 1vw;
    
}

/* pc */
@media screen and (min-width: 1920px) and (min-height: 1080px) {
    .topBar {
        height: 4vw;
        font-size: 1.1vw;
        padding-left: 3vw;
        padding-right: 3vw;
        padding-top: 1vw;
        padding-bottom: 1vw;
    }

    .text1 {
        font-size: 2.5vw;
        margin-top: 6vw;
    }

    .text2 {
        font-size: 1vw;
        margin-top: 0.5vw;
    }

    .cuadro {
        margin-top: 2vw;
        border-radius: 1vw;
        width: 46vw;
        height: 25vw;
        left: 27vw;
        padding-left: 1vw;
        padding-top: 1vw;
        font-size: 1.1vw;
    }

    .orangeButton {
        width: 16vw;
        height: 3vw;
        border-radius: 2vw;
        margin-top: 28vw;
        margin-left: 42vw;
    }

    .text3 {
        font-size: 1vw;
    }
}

/* celular*/
@media screen and (max-width: 431px) and (max-height: 933px) {
    .topBar {
        height: 12vw;
        font-size: 3vw;
        padding-left: 4vw;
        padding-right: 4vw;
        padding-top: 2vw;
        padding-bottom: 2vw;
    }

    .add, .reload, .delete, .report, .help {
        width: 4vw;
        height: 4vw;
    }

    .iconito {
        width: 6vw;
        height: 5vw;
    }

    .settings {
        width: 3.5vw;
        height: 3.5vw;
    }

    .noti {
        width: 4vw;
        height: 3.5vw;
    }

    .profile {
        width: 8vw;
        height: 8vw;
    }

    .text1 {
        font-size: 8vw;
        margin-top: 20vw;
    }

    .text2 {
        font-size: 4vw;
        margin-top: 2vw;
    }

    .cuadro {
        margin-top: 8vw;
        border-radius: 3vw;
        width: 85vw;
        height: 60vw;
        left: 7.5vw;
        padding-left: 3vw;
        padding-top: 3vw;
        font-size: 3.5vw;
    }

    .orangeButton {
        width: 35vw;
        height: 10vw;
        border-radius: 5vw;
        margin-top: 75vw;
        margin-left: 32.5vw;
    }

    .orangeButton:hover {
        width: 35.2vw;
        height: 10.1vw;
    }

    .text3 {
        font-size: 3.5vw;
    }
}