@font-face {
    font-family: 'myriadPro_Regular';
    src: url(../fonts/myriadPro_Regular.OTF);
}

@font-face {
    font-family: 'myriadPro_Light';
    src: url(../fonts/MyriadPro-Light.otf);
}

*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}

body {
    background-color: black;
    width: 100%;
    height: auto;
    overflow-x: hidden;
    position: absolute;
    background-image: url(./../img/background.png);
    background-size: cover;
    position: absolute;
}

.section1{
    text-align: center;
    align-items: center;
    background: url(./../img/icon.png);
    position: absolute;
    background-size: cover;
    width: 10vw;
    height: 10vw;
    bottom: -38vw;
    left: 45vw;
    opacity: 0;
    animation: animation_section1 2s 2;
}

@keyframes animation_section1 {
    0%{
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.section2{
    text-align: center;
    margin-top: 7vw;
    align-items: center;
    justify-content: center;
    background-color: white;
    position: absolute;
    background-size: cover;
    border-radius: 3vw;
    width: 46vw;
    height: 40vw;
    left: 26vw;
}

.imgKarioMedia {
    margin-top: 3vw;
    width: 4vw;
    height: 4.5vw;
}

.text1_section2 {
    margin-top: 1vw;
    font-family: 'myriadPro_Regular';
    font-size: 2.2vw;
}

.text2_section2 {
    margin-top: 1vw;
    font-family: 'myriadPro_Light';
    font-size: 1.1vw;
}

.text3_section2 {
    margin-top: 1vw;
    margin-left: -29vw;
    font-family: 'myriadPro_Light';
    font-size: 1.4vw;
}

.input1_section2 {
    width: 35vw;
    height: 1.7vw;
    border-radius: 3vw;
    border-color: black;
    margin-top: 0.2vw;
    border-width: 0.1vw;
    padding-left: 1vw;
    font-family: 'myriadPro_Light';
    font-size: 1vw;
}

.input1_section2:focus {
    border-width: 0.1vw;
    outline: none;
}

.text4_section2 {
    margin-top: 0.7vw;
    margin-left: -27.5vw;
    font-family: 'myriadPro_Light';
    font-size: 1.3vw;
}

.input2_section2 {
    width: 35vw;
    height: 1.7vw;
    border-radius: 3vw;
    border-color: black;
    margin-top: 0.2vw;
    border-width: 0.1vw;
    padding-left: 1vw;
    font-family: 'myriadPro_Light';
    font-size: 1vw;
}

.input2_section2:focus {
    border-width: 0.1vw;
    outline: none;
}

.orangeButton {
    text-align: center;
    width: 15vw;
    height: 2.5vw;
    background-color: #FF6C2C;
    border-radius: 2vw;
    margin-top: 1.5vw;
    cursor: pointer;
    border: none;
}

.text5_section2 {
    font-family: 'myriadPro_Regular';
    font-size: 1.2vw;
    color: white;
}

.text6_section2 {
    font-family: 'myriadPro_Light';
    font-size: 0.7vw;
    margin-top: 2vw;
}