*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}

body {
    background-color: black;
    width: 100%;
    height: auto;
    overflow-x: hidden;
    position: absolute;
    background-image: url(./../img/background.png);
    background-size: cover;
    position: absolute;
}

.section1{
    text-align: center;
    align-items: center;
    background: url(./../img/icon.png);
    position: absolute;
    background-size: cover;
    width: 10vw;
    height: 10vw;
    bottom: -38vw;
    left: 45vw;
    opacity: 0;
    animation: loguito 2s 2;
}

@keyframes loguito {
    0%{
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.section2{
    text-align: center;
    align-items: center;
    background-color: white;
    position: absolute;
    background-size: cover;
    border-radius: 3vw;
    width: 40vw;
    height: 30vw;
    bottom: -45vw;
    left: 25vw;
}