*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}

body {
    background-color: black;
    width: 100%;
    height: auto;
    overflow-x: hidden;
    position: absolute;
    background-image: url(./../img/background.png);
    background-size: cover;
    position: absolute;
}

.section1{
    background: url(./../img/icon.png);
    position: absolute;
    background-size: cover;
    width: 10vw;
    height: 10vw;
    bottom: -38vw;
    left: 45vw;
}