@font-face {
    font-family: 'myriadPro_Regular';
    src: url(../fonts/myriadPro_Regular.OTF);
}

@font-face {
    font-family: 'myriadPro_Light';
    src: url(../fonts/MyriadPro-Light.otf);
}


* {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
    text-decoration: none;
    color: black;
}

body {
    background-color: black;
    width: 100%;
    height: auto;
    overflow-x: hidden;
    position: absolute;
    background-image: url(../img/background.png);
    background-size: cover;
    position: absolute;
}

.section1 {
    text-align: center;
    margin-top: 10vw;
    align-items: center;
    justify-content: center;
    background-color: white;
    position: absolute;
    background-size: cover;
    border-radius: 3vw;
    width: 46vw;
    height: 28vw;
    left: 26vw;
}

.logo {
    margin-top: 3vw;
    width: 4vw;
    height: 4.5vw;
}

.text1 {
    text-align: center;
    margin-top: 0.5vw;
    font-family: 'myriadPro_Regular';
    font-size: 2.2vw;
}

.profilePic {
    margin-top: 1vw;
    width: 6vw;
    height: 6vw;
}

.text2 {
    font-family: 'myriadPro_Regular';
    font-size: 2.3vw;
    margin-top: 1vw;
}

.text3 {
    font-family: 'myriadPro_Light';
    font-size: 1vw;
    margin-top: 1vw;
}