@font-face {
    font-family: 'myriadPro_Regular';
    src: url(../fonts/myriadPro_Regular.OTF);
}

@font-face {
    font-family: 'myriadPro_Light';
    src: url(../fonts/MyriadPro-Light.otf);
}
p{
    font-family: 'myriadPro_Regular';
}
h5{
    font-family: 'myriadPro_Light';
}
*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}

body {
    background-color: black;
    width: 100%;
    height: auto;
    overflow-x: hidden;
    position: absolute;
    background-image: url(./../img/background.png);
    background-size: cover;
    position: absolute;
}

.section1{
    text-align: center;
    margin-top: 20vw;
    align-items: center;
    justify-content: center;
    background-color: white;
    position: absolute;
    background-size: cover;
    border-radius: 3vw;
    width: 46vw;
    height: 30vw;
    left: 26vw;
}

.logo{
    width: 5vw;
    height: 5vw;
    margin-top: 2vw;
}

.tex1{
    text-align: center;
    margin-top: -1vw;

}

.profile{
    margin-top: -1vw;
    width: 7vw;
    height: 7vw;
}